<h2>Card Header and Footer</h2>
<div class="card">
    <div class="card-header">Header</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">First item</li>
            <li class="list-group-item">Second item</li>
            <li class="list-group-item">Third item</li>
        </ul>
        <p>
            dailog-component works! with some Data which are:
        </p>

        <p>
            name: {{data.name}}<br> animal: {{data.animal}}
        </p>
    </div>
    <div class="card-footer">Footer</div>
</div>