<h2>Created Games</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">isNew?</th>
            <!-- <th>Action</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of CurrentGames | async" (click)="edit(item._id)">
            <th scope="row">{{item.id}}</th>
            <td>{{item.advertisementId.configuration.title}}</td>
            <td>{{item.advertisementId.configuration.isNew}}</td>
            <!-- <td>
                <button type="button" class="btn btn-primary ml-5" (click)="edit(item.id)">Edit</button>
            </td> -->
        </tr>
    </tbody>
</table>

<h2>Template Games</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <!-- <th scope="col">Email</th>
            <th scope="col">Address</th> -->
            <!-- <th>Action</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of todo | async" (click)="add(item._id)">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <!-- <td>{{item.email}}</td>
            <td>{{item.address}}</td> -->
            <!-- <td>
                <button type="button" class="btn btn-primary ml-5" (click)="edit(item.id)">Edit</button>
            </td> -->
        </tr>
    </tbody>
</table>