<div *ngFor="let steps of STEPS; let i = index">
    <div *ngIf="i != 0 && i == stepNumber">
        <h1>{{steps.title}}</h1>
        <app-component-loader [component]="step" *ngFor="let step of steps"></app-component-loader>
    </div>
</div>
<button type="submit" class="btn btn-primary" (click)="prevStep()" *ngIf="stepNumber > 1">Prev</button>
<button type="submit" class="btn btn-primary" (click)="nextStep()" *ngIf="stepNumber > 0 && stepNumber < STEPS.length-1">Next</button>
<button type="submit" class="btn btn-primary" (click)="submitConfig()" *ngIf="stepNumber > 0 && stepNumber == STEPS.length-1 && ACTION_MODE == 'new'">Submit</button>
<button type="submit" class="btn btn-primary" (click)="updateConfig()" *ngIf="stepNumber > 0 && stepNumber == STEPS.length-1 && ACTION_MODE == 'edit'">Update</button>